.home_hero {
	display: flex;
	gap: 4%;
}

.home_hero_Banner {
}
.home_hero_Banner,
h2 {
	font-size: 60px;
	margin: 0;
}
.home_hero_Banner-support {
	font-size: 18px;
}
.home_hero_img {
	width: 50%;
}
.home_hero_img img {
	display: block;
	margin: auto;
	max-height: 300px;
	object-fit: cover;
}
